@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Virtual Valley's Puppy Play Date Center</h1>
    <p>The place for Puppies to connect and play</a>.</p>
    <a href="http://Home_Contact_Us.cshtml">Contact Us</a>
    <a href="http://Home_Our_Services.cshtml">Our Services</a>
    <a href="http://Home_Virtual_Valleys_Veterinary_Staff.cshtml">Veterinary Staff</a>
</div>
